@import url("header.css");
@import url("footer.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 600px;
}

h2 {
    font-size: 3em;
    font-weight: bold;
    margin: 0.5em 0;
}

input, select  {
    margin:0.5em 0;
    padding: 0.7em;
}

form > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 600px;
    margin: 10px 0;
}

.formbtn {
    display: inline-block;
    text-align: center;
    padding: 10px;
    width: 290px;
    border-radius: 20px;
    text-decoration: none;
}
 
.refresh {
    background-color: #888888;
    color: white;
    margin-right: 5px;
}

.enter {
    background-color: #1CD1B0;
    color: black;
    margin-left: 5px;
}

.bottom-text {
    color: #00669F;
    text-align: center;
}

.bottom-text > a {
    text-decoration: none;
    color: black;
}

