@import url("./header.css");
@import url("./batman.css");
@import url("./ww.css");
@import url("./superman.css");
@import url("./harleyQuinn.css");
@import url("./ingresar.css");
@import url("./contacto.css");
@import url("./registro.css");
@import url("./agregatusuper.css");


body {
    margin: inherit;
    padding: inherit;
    font-family: 'Roboto', sans-serif;
}

main {
    background: #E5E5E5;
    display: flex;
}

.botonsuma{
    position: fixed;
    right: 50px;
    bottom: 100px;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
    background-color: #00669F;
    text-align: center;
    border-radius: 50%;
    z-index: 999;
}

.botonsuma:hover{
    background-color: #023655;
}

.superhero-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 80%;
    padding: 10%;
}

.fa-heart {
    color: red;
    position: absolute;
    font-size: 20px;
    top: 15px;
    left: 15px;
}

.fa-heart:hover {
    animation: heartbeat 1s infinite;
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( 1 );
  }
  20%
  {
    transform: scale( 1.25 );
  }
  40%
  {
    transform: scale( 1 );
  }
  60%
  {
    transform: scale( 1.25 );
  }
  80%
  {
    transform: scale( 1 );
  }
  100%
  {
    transform: scale( 1.25 );
  }
}

.card-title {
    text-transform: uppercase;
    padding-top: 30px;
}

.superhero-card {
    background: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 300px;
    height: 90%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px 25px 0 0;
}

.superhero-card:hover {
    transform: translate(0, -5px);
}

.batman-card-image {
    background-image: url(../img/bg-batman.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    position: relative;
}

.batman-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.card-image {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 50px;
    position: relative;
    top: 100px;
}

.wonderwoman-card-image {
    background-image: url(../img/bg-wonderw.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    position: relative;
}

.wonderwoman-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; 
}

.superman-card-image {
    background-image: url(../img/bg-superman.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    position: relative;
}

.superman-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.card-button {
    padding: 15px 30px;
    background-color: #00669F;
    color: white;
    border-radius: 15px;
    text-decoration: none;
    margin-top: 20px;
}


.card-button:hover{
    background-color: #023655;
}