body {
    margin: inherit;
    padding: inherit;
    font-family: 'Roboto', sans-serif;
}

.descuento {
    background: #1CD1B0;
    height: 20px;
}

p {
    margin: inherit;
}

section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header {
    background: #00669F;
    position: sticky;
    top: 0;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 999;
}

h1 {
    margin: 0;
    color: white;
    font-weight: inherit;
}

main {
    background: #E5E5E5;
}

.botonsuma{
    position: fixed;
    right: 50px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
    background-color: #00669F;
    text-align: center;
    border-radius: 50%;
    z-index: 999;
}

.fa-heart {
    color: red;
    position: absolute;
    font-size: 20px;
    top: 15px;
    left: 15px;
}

.card-title {
    text-transform: uppercase;
    padding-top: 30px;
}

.superhero-card {
    background: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 300px;
    height: 90%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px 25px 0 0;
}

.batman-card-image {
    background-image: url(../img/bg-batman.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    position: relative;
}

.batman-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.card-image {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 50px;
    position: relative;
    top: 100px;
}

.wonderwoman-card-image {
    background-image: url(../img/bg-wonderw.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    position: relative;
}

.wonderwoman-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; 
}

.superman-card-image {
    background-image: url(../img/bg-superman.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    position: relative;
}

.superman-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

footer {
    background: #00669F;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}