body {
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-menu {
    list-style: none;
}

.nav-menu-link {
    text-decoration: none;
}

.logo-image {
    object-fit: contain;    
}

.header-div {
    position: relative;
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.8)
      ), url('./img/lemon-pie.png');
    background-size: cover;
    height: 400px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
}

.header-title {
    align-items: baseline;
    color: white;
}

.header-text {
    align-items: baseline;
    color: white;
}

main {
    padding: 20px;
}

li {
    line-height: 1.5;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(153, 172, 165);
    height: 50px;
}